header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	padding: 60px;
	text-align: center;
	background-color: rgb(242, 255, 253);
}

.img-header {
	margin: auto;
	width: 70%;
}

.hero-content h1 {
	font-size: 36px;
}

.hero-content p {
	font-size: 16px;
	width: 80%;
	margin: auto;
}

.fitur ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style-type: none;
	margin: auto;
	margin-top: 40px;
	width: 500px;
}

.fitur ul li {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: white;
	box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
	width: 200px;
	padding: 0px 15px 0px 0px;
	border-radius: 6px;
}

.pic {
	border-right-style: dashed;
	border-color: rgb(206, 206, 206);
	margin: auto;
}

.pic img {
	margin: auto;
}

.antre {
	width: 80px;
}

.fitur ul li p {
	padding: 20px 10px;
	text-align: center;
}

@media screen and (max-width: 985px) {
	header {
		grid-template-columns: 1.3fr 1fr;
	}
	.hero-content h1 {
		font-size: 26px;
	}
	.hero-content p {
		font-size: 12px;
	}
}

@media screen and (max-width: 760px) {
	header {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.fitur ul li p {
		color: black;
		padding: 20px 10px;
		text-align: center;
	}
}

@media screen and (max-width: 620px) {
	header {
		grid-template-rows: 1fr;
	}

	.img-header {
		display: none;
	}
	.fitur ul {
		grid-template-columns: 1fr;
		width: 100%;
	}
	.fitur ul li {
		margin: 10px auto;
	}
}
