html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    margin: auto;
    padding: auto;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
    border-bottom-style: groove;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
  }

  img {
    width: 100%;
    margin-left: 34px;
  }
  
  .nav-logo {
    cursor: pointer;
    width: 12%;

  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
  }

  a{
    text-decoration: none;
    align-items: center;
    color: black;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }

  #autentifikasi{
    list-style: none;
    margin-left: 48rem;
    background-color: #ED0875;
    border-radius: 8px;
    padding: 5px 25px;
  }

  #autentifikasi a{
    color: white;
  }

  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
    margin-left: 100px;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #056a81;
  }
  
  .nav-icon {
    display: none;
  }
  